body {

    color: #ffffff;

    text-shadow: 0px 0px 2px #000000;

    font-family: Helvetica, sans-serif;

    font-weight: bold;




    /* background: url(../imgs/sunset.jpg) no-repeat center bottom fixed; */

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

}




section {

    display: grid;

    grid-template-columns: repeat(10, 1fr);

    grid-gap: 10px;

}




#secondScreenArticle {

    grid-column: 1/8;

    display: grid;

    grid-template-columns: repeat(10, 1fr);

}




#logo {

    width: 50%;

    margin: 10px;

    margin-left: 20px;

    font-size: 30px;

    grid-column: 1/11;

    justify-self: start;

    border-bottom: solid 1px #000000;

}




#logo img {

    width: 30px;

}




aside {

    grid-column: 8/11;

    /* background-color: rgba(0, 255, 55, 0.082); */

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-template-rows: minmax(100px, auto);

}




#good-morning2 {

    margin: 10px;

    font-size: 45px;

    grid-column: 1/11;

    justify-self: start;

}




#name2 {

    margin: 10px;

    font-size: 40px;

    grid-column: 1/11;

}




#quote {

    padding: 10px;

    margin: 10px;

    /* background-color: rgba(255, 255, 255, 0.158); */

    grid-column: 3/11;

    font-size: 35px;

    text-align: right;

}




/* /////////   weather /////// */

#weather {

    margin: 10px;

    /* background-color: rgba(57, 138, 118, 0.308); */

    grid-column: 5/11;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: minmax(50px, auto);

    padding-bottom: 20px;

    border-bottom: solid 1px #ffffff;

}




#location {

    justify-self: center;

    align-self: center;

    grid-row: 1/2;

    grid-column: 1/2;

}




#weather-sky {

    justify-self: center;

    align-self: center;

    grid-row: 1/2;

    grid-column: 2/3;

}




#temp {

    justify-self: center;

    align-self: center;

    grid-row: 1/2;

    grid-column: 3/4;

}




#sunrise {

    justify-self: center;

    align-self: center;

    grid-row: 2/3;

    grid-column: 1/2;

}




#wind {

    justify-self: center;

    align-self: center;

    grid-row: 2/3;

    grid-column: 2/3;

}




#humidity {

    justify-self: center;

    align-self: center;

    grid-row: 2/3;

    grid-column: 3/4;

}







a {

    text-decoration: none;

    /* Delete the -> color: black -> when transfering over to the main file */

    color: white;

}







#news {

    margin: 10px;

    grid-column: 5/11;




}




.newsArticle {

    margin-bottom: 20px;

    border-radius: 10px;

    border-bottom: solid 1px #ffffff;

    padding-bottom: 17px;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-gap: 5px;

    grid-template-rows: minmax(50px, auto);

}




.newsImage {

    grid-column: 1/2;

    grid-row: 1/3;

    align-self: center;

    /* border: solid 2px #ffffff; */

}




.newsTitle {

    font-size: 18px;

    grid-column: 2/5;

    margin-top: 10px;

    align-self: center;

    

}




.newsDescription {

    font-size: 16px;

    font-weight: normal;

    grid-column: 1/5;

    

}







#map-traffic {

    margin: 10px;

    background-color: rgba(57, 79, 138, 0.308);

    grid-column: 1/5;

    height: 300px;

}




/* ////////////////////////////////////////////////////// */







#clock2 {

    margin: 10px;

    grid-column: 1/5;

    justify-self: center;

    align-self: center;

    font-size: 100px;

    grid-row: 1/2;

}







/* ////   todo list ///// */




#current-list-items {

    margin-top: 25px;

}




#to-do-list {

    margin: 10px;

    /* background-color: rgba(20, 124, 89, 0.308); */

    grid-column: 1/5;

    justify-self: end;

    font-size: 10px;

    grid-row: 2/11;

    font-size: 24px;

}




.check-box {

    float: left;

}




.word-btn {

    float: left;

}




.todo-item {

    clear: both;

}




.todo-form {

    /* display: grid; */

    margin-top: 20px;

}




#item-to-be-added {

    width: 65%;

    height: auto;

    background: transparent;

    border: none;

    border-bottom: solid 2px #ffffff;

    color: #ffffff;

    font-size: 25px;

    text-align: center;

    font-weight: bold;

    float: left;

}




::placeholder {

    /* Chrome, Firefox, Opera, Safari 10.1+ */

    color: rgba(255, 255, 255, 0.842);

    opacity: 1;

    /* Firefox */

    text-shadow: 0px 0px 2px #000000;

    font-weight: 100;

}




#submit-btn-add {

    width: 15%;

    padding: 16px 32px;

    background-image: url(../imgs/arrow.png);

    background-position: center center;

    background-size: 90% auto;

    background-repeat: no-repeat;

    float: left;

    background-color: rgba(255, 255, 255, 0.24);

    border: none;

    border-radius: 10px;




}
















.good-morning {

    justify-self: center;

    margin-top: 50px;

}




.clock {

    justify-self: center;

    text-align: center;




}




.clock #current-time {

    justify-self: center;

    font-size: 185px;

    letter-spacing: -0.08em;

}




.enterName {

    justify-self: center;

}




.form {

    justify-self: center;

    display: grid;




}




.userName {

    display: grid;

}




/* 

input[type=text] {

    width: 400px;

    height: auto;

    background: transparent;

    border: none;

    border-bottom: solid 2px #ffffff;

    color: #ffffff;

    font-size: 45px;

    text-align: center;

    font-weight: bold;

}



#item-to-be-added {

    width: 200px;

}





input[type=submit] {

    justify-self: center;

    text-align: center;

    margin: 0 auto;

}



h1 {

    margin: 20px;

    font-size: 40px;

}



h3 {

    font-size: 10px;

} */




























/* /////////////////////// footer  */

footer {

    border-top: solid 1px #ffffff94;

    clear: both;

    width: 100%;

    position: fixed;

    bottom: 0;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    height: 40px;

}




#version {

    grid-column: 2/3;

    align-self: center;

    justify-self: center;

}




#gear-settings {

    grid-column: 3/4;

    justify-self: end;

    align-self: center;

    margin-right: 10px;

}







#settings {

    display: none;

}
