body {
    color: #ffffff;
    text-shadow: 0px 0px 2px #000000;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

    background: url(../imgs/sunset.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
}

#secondScreenArticle {
    grid-column: 1/8;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#logo {
    width: 50%;
    margin: 10px;
    margin-left: 20px;
    font-size: 30px;
    grid-column: 1/11;
    justify-self: start;
    border-bottom: solid 1px #000000;
}
#logo img {
    width: 30px;
}

aside {
    grid-column: 8/11;
    background-color: rgba(0, 255, 55, 0.226);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto);
}

#good-morning2 {
    margin: 10px;
    font-size: 45px;
    grid-column: 1/11;
    justify-self: start;
}

#name2 {
    margin: 10px;
    font-size: 40px;
    grid-column: 1/11;
}

#quote {
    margin: 10px;
    background-color: rgba(187, 121, 34, 0.308);
    grid-column: 3/11;
    font-size: 35px;
    text-align: right;
}


#weather {
    margin: 10px;
    background-color: rgba(57, 138, 118, 0.308);
    grid-column: 5/11;
}

#news {
    margin: 10px;
    grid-column: 5/11;
    
}

.newsArticle {
    margin-bottom: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 5px;
    grid-template-rows: minmax(50px, auto);
}

.newsImage{
    grid-column: 1/2; 
    grid-row: 1/3;
    align-self: center;
}

.newsTitle{
    font-size: 18px;
    grid-column: 2/5; 
}
.newsDescription {
    font-size: 16px;
    font-weight: normal;
    grid-column: 1/5; 
}


#map-traffic {
    margin: 10px;
    background-color: rgba(57, 79, 138, 0.308);
    grid-column: 1/5;
    height: 300px;
}

/* ////////////////////////////////////////////////////// */


#clock2 {
    margin: 10px;
    background-color: rgba(241, 114, 225, 0.308);
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
    font-size: 100px;
    grid-row: 1/2;
}

#to-do-list{
    margin: 10px;
    background-color: rgba(20, 124, 89, 0.308);
    grid-column: 1/5;
    justify-self: end;
    font-size: 50px;
    grid-row: 2/11;
    font-size: 24px;
}

input[type=submit] {
    padding: 16px 32px;
    background-image: url(../imgs/logoCheckMark.svg);
}





.good-morning {
    justify-self: center;
    margin-top: 50px;
}

.clock {
    justify-self: center;
    text-align: center;

}

.clock #current-time {
    justify-self: center;
    font-size: 185px;
    letter-spacing: -0.08em;
}

.enterName {
    justify-self: center;
}

.form {
    justify-self: center;
    display: grid;

}

.userName {
    display: grid;
}

input[type=text] {
    width: 400px;
    height: auto;
    background: transparent;
    border: none;
    border-bottom: solid 2px #ffffff;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
}

#item-to-be-added {
    width: 200px;
}


input[type=submit] {
    justify-self: center;
    text-align: center;
    margin: 0 auto;
}

h1 {
    margin: 20px;
    font-size: 40px;
}

h3 {
    font-size: 10px;
}


footer {
    border-top: solid 1px #ffffff94;
    clear: both;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 40px;
}

#version {
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
}

#gear-settings {
    grid-column: 3/4;
    justify-self: end;
    align-self: center;
    margin-right: 10px;
}


#settings {
    display: none;
}